#!/bin/sh
# Peerstreamer service file

AVAHIPROG=/usr/sbin/avahi-ps
TYPE="peerstreamer"
FILEPEERS=/var/run/pspeers.conf
PSCONTROLLER=/var/local/cDistro/plug/resources/peerstreamer/pscontroller
PSSHELL=/var/local/cDistro/plug/resources/peerstreamer/ps_shell
GETINCONF_FILE=/etc/getinconf-client.conf
DEBUG=0

start() {
	ip=$1
	port=$2
	description=$3
	echo "start"
	echo "ip: $ip"
	echo "port: $port"
	echo "description: $description"

	$AVAHIPROG publish $description $TYPE $port $ip
}

stop () {
	port=$1
	ip=$2		# IP must be our community IP
	[ $DEBUG ] && echo "stop"
	[ $DEBUG ] && echo "port: $port"
	[ $DEBUG ] && echo "IP: $ip"
	$AVAHIPROG unpublish $TYPE $port $ip
}

check() {
	
	# If pspeers does not exists there are no services to publish
	[ ! -f $FILEPEERS ] && return

	[ $DEBUG ] && echo "Checking..."

	$PSSHELL check		# Stop and unpublish zombie PS instances

}

case "$1" in
	start)
		start
		;;
	stop)
		stop
		;;
	check)
		if check
		then
			start
		fi
		;;
	*)
		exit 1
		;;
esac
exit 0
