#!/bin/sh
#SNPService file

NAME=$(basename $0|sed -n 's/\(.*\).service/\1/p')
DESCRIBE="SNPService_System"
TYPE="snpservice"
PORT="80"
TXT=""


start()
{
	echo "Start $NAME"
	avahi-ps publish $DESCRIBE $TYPE $PORT
}

stop()
{
	echo "Stop $NAME"
	avahi-ps unpublish $DESCRIBE $TYPE $PORT
}

check()
{
	echo "Check $NAME"
	return 0
}

case "$1" in
  start)
    start
  ;;
  stop)
    stop
  ;;
  check)
    if check 
    	then
    	start
    fi
  ;;
  *)
    exit 1
  ;;
esac

exit 0
