#!/bin/sh
#TAHOE file

PROGRAM=/usr/sbin/avahi-ps
NAME=$(basename $0|sed -n 's/\(.*\).service/\1/p')
DESCRIPTION="Tahoe-LAFS-Grid"
TYPE="tahoe-lafs"
PID_FILE="/var/lib/tahoe-lafs/introducer/twistd.pid"
GRID_NAME_FILE="/var/lib/tahoe-lafs/introducer/grid.name"
INTRODUCER_PUBLIC_FILE="/var/lib/tahoe-lafs/introducer/introducer.public"
PORT=$(cat /var/lib/tahoe-lafs/introducer/introducer.port)
TXT=$(cat /var/lib/tahoe-lafs/introducer/my_nodeid)

start()
{
        echo "Start $NAME"

        if [ -f $GRID_NAME_FILE ] ; then
                DESCRIPTION=$(cat $GRID_NAME_FILE)
        fi

        $PROGRAM publish $DESCRIPTION $TYPE $PORT $TXT
}

stop()
{
        echo "Stop $NAME"
        $PROGRAM unpublish $TYPE $PORT
}

check()
{
  # Check for PID file
  [ ! -f $PID_FILE ] && return 1

  # Check por process
  ps -p $(cat $PID_FILE) > /dev/null

  # Check port
  netstat -anlt | grep $PORT | grep -q LISTEN  || return 1

	#Check if public
  [ ! -f $INTRODUCER_PUBLIC_FILE ] && return 1

  return 0
}

case "$1" in
  start)
    start
  ;;
  stop)
    stop
  ;;
  check)
    if check
    	then
    	start
    fi
  ;;
  isActive)
    echo "$PROGRAM      "
    check && (echo "UP"; exit 0) || (echo "DOWN";exit 1)
  ;;
  *)
    exit 1
  ;;
esac

exit 0
