Source: avahi-ps
Section: unknown
Priority: extra
Maintainer: Agustí Moll <agusti.moll@guifi.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/agustim/avahi-ps
Vcs-Git: git://github.com/agustim/avahi-ps.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/avahi-ps.git;a=summary

Package: avahi-ps
Architecture: all
Depends: tinc
Description: avahi-ps system publish and search.
 Avahi system publish and search from public IP.
